// colores 

$white: #FFFFFF;
$black: #000000;
$sable: #060606;
$charcoal:#2e1503;
$tangarine:#ffaf6d;
$orange:#ffa500;
$gray: gray;
$dark-gray: #495057;

//Typography
$ubuntu:'Ubuntu',
sans-serif;
$poppins: 'Poppins',
sans-serif;

// agregado maqueta 
$purple: #801678;